html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } * { box-sizing: border-box; -webkit-tap-highlight-color: transparent; }

:root {
    /* Basic Colors */
    --black:           rgb(0, 0, 0);
    --white:           rgb(255, 255, 255);
    --off-white:       rgb(252, 252, 252);
    
    /* Grayscale */
    --gray:            rgb(167, 167, 167);
    --light-gray:      rgb(210, 210, 210);
    --lighter-gray:    rgb(243, 243, 243);
    
    /* Blues */
    --darker-blue:     rgb(5, 5, 29);
    --dark-blue:       rgb(12, 12, 70);
    --blue:            rgb(0, 0, 255);
    --light-blue:      rgb(13, 100, 176);
    --lighter-blue:    rgb(180, 220, 255);

    /* Reds */
    --dark-red:        rgb(139, 0, 0);
    --red:             rgb(255, 0, 0);
    --light-red:       rgb(255, 102, 102);

    /* Greens */
    --dark-green:      rgb(0, 100, 0);
    --green:           rgb(0, 128, 0);
    --light-green:     rgb(144, 238, 144);

    /* Yellows */
    --dark-yellow:     rgb(204, 204, 0);
    --yellow:          rgb(255, 255, 0);
    --light-yellow:    rgb(255, 255, 153);

    /* Oranges */
    --dark-orange:     rgb(255, 140, 0);
    --orange:          rgb(255, 165, 0);
    --light-orange:    rgb(255, 200, 100);

    /* Purples */
    --dark-purple:     rgb(75, 0, 130);
    --purple:          rgb(128, 0, 128);
    --light-purple:    rgb(230, 230, 250);

    /* Browns */
    --dark-brown:      rgb(101, 67, 33);
    --brown:           rgb(165, 42, 42);
    --light-brown:     rgb(210, 180, 140);

    /* Transparency */
    --white-a90:       rgba(255, 255, 255, 0.9);
    --black-a50:       rgba(0, 0, 0, 0.5);
    --gray-a75:        rgba(167, 167, 167, 0.75);

    /* Custom Shades */
    --custom-blue-1:   rgb(0, 51, 102);
    --custom-blue-2:   rgb(51, 153, 255);
    --custom-gray-1:   rgb(128, 128, 128);
    --custom-gray-2:   rgb(192, 192, 192);

    --hyperlink-color: var(--custom-blue-1);
    --button-background-color: rgb(12,12,70,1);
    --button-border-color: rgb(12,12,70,1);
    --submit-button-color: #ffffff;
    --submit-button-background-color: #007BFF;
    --submit-button-border-color: #007BFF;
    --save-button-color: #ffffff;
    --save-button-background-color: #00a824;
    --save-button-border-color: #00a824;
    --cancel-button-color: #ffffff;
    --cancel-button-background-color: #DC3545;
    --cancel-button-border-color: #DC3545;
    --delete-button-color: #ffffff;
    --delete-button-background-color: #6C757D;
    --delete-button-border-color: #6C757D;
}
body {
    font-family: Arial;
    font-size:   19px;
    line-height: 1.5em;
}
h1,  h2,  h3,  h4,  h5,  h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Arial;
    font-weight: 700;
    line-height: 1.2em;
}
h1, .h1 {
    font-size: 40px;
}
h2, .h2 {
    font-size: 33px;
}
h3, .h3 {
    font-size: 28px;
}
h4, .h4 {
    font-size: 24px;
}
h5, .h5 {
    font-size: 21px;
}
h6, .h6 {
    font-size: 19px;
}

a {
    color: var(--hyperlink-color);
}
.color-scheme-dark {
    --accent-color:           var(--light-blue);
    --hyperlink-color:        var(--dark-blue);
    --field-color:            var(--black);
    --field-background-color: transparent;
    --field-border-color:     var(--gray);
    --checkbox-check-url:     url("data:image/svg+xml,%3Csvg width='167' height='218' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath stroke='%23000' id='svg_16' d='m0.000002,112.697894c0,0 73.64307,105.03828 73.64307,105.03828c0,0 42.63547,0 42.63547,0l50.46119,-217.73617c0.31377,0.38759 -43.87208,0.38759 -43.87208,0.38759c0,0 -36.82153,160.07678 -36.82153,160.07678c0,0 -45.73623,-63.95319 -46.05,-64.34078l-39.99612,16.5743z' stroke-opacity='null' stroke-width='0' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E");
    --selectbox-caret-url:    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='141.36422' height='84.93994' viewBox='0 0 141.36422 84.93994'%3E%3Cpolygon points='0 13.542 70.625 84.94 141.364 13.542 127.293 0 70.625 59.946 14.071 0 0 13.542' fill='%23000000'/%3E%3C/svg%3E");
    --txt-color:              var(--black);
}
.color-scheme-light {
    --accent-color:           var(--lighter-blue);
    --hyperlink-color:        var(--lighter-blue);
    --field-color:            var(--white);
    --field-background-color: transparent;
    --field-border-color:     var(--light-gray);
    --checkbox-check-url:     url("data:image/svg+xml,%3Csvg width='167' height='218' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath stroke='%23000' id='svg_16' d='m0.000002,112.697894c0,0 73.64307,105.03828 73.64307,105.03828c0,0 42.63547,0 42.63547,0l50.46119,-217.73617c0.31377,0.38759 -43.87208,0.38759 -43.87208,0.38759c0,0 -36.82153,160.07678 -36.82153,160.07678c0,0 -45.73623,-63.95319 -46.05,-64.34078l-39.99612,16.5743z' stroke-opacity='null' stroke-width='0' fill='%23000000'/%3E%3C/g%3E%3C/svg%3E");
    --selectbox-caret-url:    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='141.36422' height='84.93994' viewBox='0 0 141.36422 84.93994'%3E%3Cpolygon points='0 13.542 70.625 84.94 141.364 13.542 127.293 0 70.625 59.946 14.071 0 0 13.542' fill='%23ffffff'/%3E%3C/svg%3E");
    --txt-color:              var(--white-a90);
}
.bg-black {
    --bg-color: var(--black);
}
.bg-darker-blue {
    --bg-color: var(--darker-blue);
}
.bg-dark-blue {
    --bg-color: var(--dark-blue);
}
.bg-light-blue {
    --bg-color: var(--light-blue);
}
.bg-lighter-blue {
    --bg-color: var(--lighter-blue);
}
.bg-gray {
    --bg-color: var(--gray);
}
.bg-light-gray {
    --bg-color: var(--light-gray);
}
.bg-lighter-gray {
    --bg-color: var(--lighter-gray);
}
.bg-off-white {
    --bg-color: var(--off-white);
}
.bg-white {
    --bg-color: var(--white);
}

/* DT - Desktop */
.container {
    width:         1570px;
    margin-left:   auto;
    margin-right:  auto;
    padding-left:  25px;
    padding-right: 25px;
}
/* LT - Laptop & Small desktop */
@media (min-width: 1200px) and (max-width: 1599.98px) {
    .container {
    width: 1170px;
    }
}

/* TL - Tablet (landscape) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
    width: 962px;
    }
}
/* TP - Tablet (portrait) & Tall mobile (landscape) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        width: 100%;
    }
}

/* ML - Mobile (landscape) & Small tablet */
@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        width: 100%;
    }
}

/* MP - Mobile (portrait) */
@media (max-width: 575.98px) {
    .container {
        width: 100%;
    }
}

[class^='bg-'], [class*=' bg-'] {
    --has-fill-top:    1 !important;
    --has-fill-right:  1 !important;
    --has-fill-bottom: 1 !important;
    --has-fill-left:   1 !important;
    background-color:  var(--bg-color) !important;
}

.row {
    --has-fill-top:    0;
    --has-fill-right:  0;
    --has-fill-bottom: 0;
    --has-fill-left:   0;
    display:           flex;
    flex-wrap:         wrap;
    flex-direction:    row;
    align-items:       flex-start;
    margin-top:        calc(25px * var(--col-spacing-multiplier));
    margin-bottom:     calc(25px * var(--has-fill-bottom) * var(--col-spacing-multiplier));
    margin-left:       calc((-25px + 25px * var(--has-fill-left)) * var(--col-spacing-multiplier));
    margin-right:      calc((-25px + 25px * var(--has-fill-right)) * var(--col-spacing-multiplier));
    padding-top:       calc(25px * 2 * var(--has-fill-top) * var(--col-spacing-multiplier));
    padding-left:      calc(25px * var(--has-fill-left) * var(--col-spacing-multiplier));
    padding-right:     calc(25px * var(--has-fill-right) * var(--col-spacing-multiplier));
    padding-bottom:    calc(25px * var(--has-fill-bottom) * var(--col-spacing-multiplier));
    --col-spacing-multiplier: 1;
}
.col {
    --has-fill-top:    0;
    --has-fill-right:  0;
    --has-fill-bottom: 0;
    --has-fill-left:   0;
    flex-basis:        0px;
    flex-grow:         1;
    margin-left:       calc(25px * var(--col-spacing-multiplier));
    margin-right:      calc(25px * var(--col-spacing-multiplier));
    margin-bottom:     calc(25px * var(--col-spacing-multiplier));
    max-width:         calc(100% - 50px * var(--col-spacing-multiplier));
    padding:           calc(25px * 2 * var(--has-fill-top) * var(--col-spacing-multiplier))
                        calc(25px * 2 * var(--has-fill-right) * var(--col-spacing-multiplier))
                        calc(25px * 2 * var(--has-fill-bottom) * var(--col-spacing-multiplier))
                        calc(25px * 2 * var(--has-fill-left) * var(--col-spacing-multiplier));
}

/* Spacing */
main {
    margin-top: 50px;
}

    h1:not(:first-child),  h2:not(:first-child),  h3:not(:first-child),  h4:not(:first-child),  h5:not(:first-child),  h6:not(:first-child),
    h1:not(:first-child), .h2:not(:first-child), .h3:not(:first-child), .h4:not(:first-child), .h5:not(:first-child), .h6:not(:first-child) {
    margin-top: 37.5px;
}
    h1:not(:last-child),  h2:not(:last-child),  h3:not(:last-child),  h4:not(:last-child),  h5:not(:last-child),  h6:not(:last-child),
    h1:not(:last-child), .h2:not(:last-child), .h3:not(:last-child), .h4:not(:last-child), .h5:not(:last-child), .h6:not(:last-child) {
    margin-bottom: 25px;
}
p:not(:last-child) {
    margin-bottom: 12.5px;
}

.row .row {
    --col-spacing-multiplier: 0.5;
}

.row .row .row {
    --col-spacing-multiplier: 0.25;
}

.row:first-child {
    margin-top: 0px;
}

.row:last-child {
  margin-bottom: calc((-25px + 25px * var(--has-fill-bottom)) * var(--col-spacing-multiplier));
}

.row[class^='bg-'] + .row,
.row[class*=' bg-'] + .row {
  margin-top: calc(25px * 2 * var(--col-spacing-multiplier));
}

:not(.row):not(.col) + .row[class^='bg-'],
:not(.row):not(.col) + .row[class*=' bg-'] {
  margin-top: max(12.5px, calc(25px * 2 * var(--col-spacing-multiplier)));
}

.row[class^='bg-'] + :not(.row):not(.col),
.row[class*=' bg-'] + :not(.row):not(.col) {
  margin-top: max(12.5px, calc(25px * var(--col-spacing-multiplier)));
}

:is([class^='bg-'], [class*=' bg-'], img) :is([class^='bg-'], [class*=' bg-'], img) {
    --border-radius-depth: 1;
}
:is([class^='bg-'], [class*=' bg-'], img) :is([class^='bg-'], [class*=' bg-'], img) :is([class^='bg-'], [class*=' bg-'], img) {
    --border-radius-depth: 2;
}
:is([class^='bg-'], [class*=' bg-'], img) :is([class^='bg-'], [class*=' bg-'], img) :is([class^='bg-'], [class*=' bg-'], img) :is([class^='bg-'], [class*=' bg-'], img) {
    --border-radius-depth: 3;
}
:is([class^='bg-'], [class*=' bg-'], img) :is([class^='bg-'], [class*=' bg-'], img) :is([class^='bg-'], [class*=' bg-'], img) :is([class^='bg-'], [class*=' bg-'], img) :is([class^='bg-'], [class*=' bg-'], img) {
    --border-radius-depth: 4;
}
:is([class^='bg-'], [class*=' bg-'], img) :is([class^='bg-'], [class*=' bg-'], img) :is([class^='bg-'], [class*=' bg-'], img) :is([class^='bg-'], [class*=' bg-'], img) :is([class^='bg-'], [class*=' bg-'], img) :is([class^='bg-'], [class*=' bg-'], img) {
    --border-radius-depth: 5;
}
.row[class^='bg-'],
.row[class*=' bg-'],
.col[class^='bg-'],
.col[class*=' bg-']{
    border-radius: calc(25px / var(--border-radius-depth));
}

img {
    display: block;
    max-width: 100%;
    border-radius: calc(25px / var(--border-radius-depth));
}
img:not(:last-child) {
    margin-bottom: 12.5px;
}

/* Form Elemets  */

/* Style specific input types */
input[type="text"] {
    background-color: rgb(255, 252, 252);

}
.sm{
    width: 200px;
}
.md{
    width: 250px;
}
.lg{
    width: 300px;
}
.xl{
    width: 350px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="password"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="number"],
input[type="color"],
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    color:              var(--field-color);
    background-color:   var(--field-background-color);
    border:             1.5px solid var(--field-border-color);
    padding:            12.5px;
    font-family:        inherit;
    font-weight:        inherit;
    font-size:          15px;
    line-height:        1.5;
    vertical-align:     top;
    border-radius:      6.25px;
}

label[for] {
    display: block;
    margin-bottom: 10px;
}

label:not([for]) > input:not([type="checkbox"]):not([type="radio"]),
label:not([for]) > select,
label:not([for]) > textarea {
    display:    block;
    margin-top: 6.25px;
}
label:not([for]) > input:not([type="checkbox"]):not([type="radio"]):not([type="image"]),
label:not([for]) > select,
label:not([for]) > textarea {
    width: 100%;
}

input, select, textarea {
    accent-color: var(--accent-color);
}
input[type="checkbox"],
input:focus, select:focus, textarea:focus {
    outline: none;
}
input::placeholder {
    color:   inherit;
    opacity: 0.6;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    width:              17px;
    height:             17px;
    background-color:   var(--field-background-color);
    border:             1.5px solid var(--field-border-color);
    margin:             0px 3px -2px 0px;
    position:           relative;
}
input[type="checkbox"] + label[for],
input[type="radio"] + label[for] {
    display: inline;
    margin-top: 10px;
}
input[type="checkbox"] {
    border-radius: 3.125px;
}
input[type="checkbox"]:checked {
    background-color:    var(--accent-color);
    border-color:        var(--accent-color);
    background-image:    var(--checkbox-check-url);
    background-size:     7px;
    background-repeat:   no-repeat;
    background-position: 3.5px 2.5px;
}
input[type="radio"] {
    border-radius: 50%;
}
input[type="radio"]:checked::after {
    content:          '';
    width:            9px;
    height:           9px;
    border-radius:    50%;
    background-color: var(--accent-color);
    position:         absolute;
    top:              2.5px;
    left:             2.5px;
}
input[type="range"] {
    background: var(--field-background-color);
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type="color"] {
    height: auto;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    height: 1.5em;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}
textarea {
    resize:     vertical;
    min-height: 127px;
}
select {
    padding-right:       calc(12.5px + 1em * 85 / 141 + 25px);
    background-image:    var(--selectbox-caret-url);
    background-size:     auto 0.5em;
    background-repeat:   no-repeat;
    background-position: calc(100% - 12.5px) center;
}
option {
    color:            var(--txt-color);
    background-color: var(--bg-color);
}
[class^='txt-'], [class*=' txt-'], .color-scheme-dark, .color-scheme-light {
    color: var(--txt-color) !important;
}
button {
    display: inline-block;
    padding: 12.5px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--white);
    border-radius: 6.25px;
    font-size: 15px;
    cursor: pointer;
    outline: 0px;
}

.submit-button {
    color: var(--submit-button-color);
    background-color: var(--submit-button-background-color);
    border: 1.5px solid var(--submit-button-border-color);
}

.submit-button:hover {
    color: var(--submit-button-background-color);
    background-color: transparent;
    border-color: var(--submit-button-background-color);
}
.save-button {
    color: var(--submit-button-color);
    background-color: var(--save-button-background-color);
    border: 1.5px solid var(--save-button-border-color);
}

.save-button:hover {
    color: var(--save-button-background-color);
    background-color: transparent;
    border-color: var(--save-button-background-color);
}
.cancel-button {
    color: var(--cancel-button-color);
    background-color: var(--cancel-button-background-color);
    border: 1.5px solid var(--cancel-button-border-color);
}

.cancel-button:hover {
    color: var(--cancel-button-background-color);
    background-color: transparent;
    border-color: var(--cancel-button-background-color);
}

.delete-button {
    color: var(--delete-button-color);
    background-color: var(--delete-button-background-color);
    border: 1.5px solid var(--delete-button-border-color);
}

.delete-button:hover {
    color: var(--delete-button-background-color);
    background-color: transparent;
    border-color: var(--delete-button-background-color);
}
ul, li {
    text-decoration: none;
}
.card-container {
    display: flex;
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card.small {
    width: 150px;
    height: 200px;
}

.card.medium {
    width: 200px;
    height: 250px;
}

.card.large {
    width: 250px;
    height: 300px;
}